<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <title>
    <%- title %>
  </title>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/css/all.min.css" />
  <link rel="stylesheet" href="./assets/style/bootstrap.css">
  <link rel="stylesheet" href="./assets/style/all.css">
  <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
</head>

<body>
  <div class="container-fluid">
    <nav class="navbar navbar-light bg-light">
      <div class="container">
        <a class="navbar-brand">合約資訊管理系統</a>
        <div class="d-flex align-items-center">
          <img src="https://fakeimg.pl/48x48" class="rounded-circle" alt="User image">
          <p class="my-auto mx-3">Company name</p>
          <button type="button" class="btn btn-outline-primary">登出</button>

        </div>


      </div>
    </nav>
  </div>
  <%- contents %>


    <script src="./assets/js/vendors.js"></script>
    <script src="./assets/js/all.js"></script>
</body>

</html>