// font

$font-family-base: Lato, system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
$font-family-monospace: "Roboto Mono", SFMono-Regular, Menlo, Monaco, Consolas, "Liberation Mono", "Courier New", monospace;
// RFS

$enable-rfs: false;

// spacer

$spacer: 1rem;
$spacers: (
    0: 0, 1: ($spacer * .25),   // 4px
    2: ($spacer * .5),          // 8px
    3: ($spacer * .75),         // 12px
    4: $spacer,                 // 16px
    5: ($spacer * 1.25),        // 20px
    6: ($spacer * 1.5),         // 24px
    7: ($spacer * 1.75),        // 28px
    8: ($spacer * 2),           // 32px
    9: ($spacer * 2.25),        // 36px
    10: ($spacer * 2.5),        // 40px
    11: ($spacer * 3),          // 48px
    12: ($spacer * 4)           // 64px
);

$modal-inner-padding: $spacer * 2;

$font-size-base: 1rem;
$h1-font-size:                $font-size-base * 2.5;
$h2-font-size:                $font-size-base * 2;
$h3-font-size:                $font-size-base * 1.75;
$h4-font-size:                $font-size-base * 1.5;
$h5-font-size:                $font-size-base * 1.25;
$h6-font-size:                $font-size-base;
$font-sizes: (
    1: $h1-font-size,
    2: $h2-font-size,
    3: $h3-font-size,
    4: $h4-font-size,
    5: $h5-font-size,
    6: $h6-font-size,
    7: $font-size-base * .875,
    8: $font-size-base * .75
);
